<%= render 'articles/index/header' %>

<div class="ui stackable items">
  <%= render partial: "articles/index/article", collection: @articles %>
</div>

<div class="pagination">
  <%= will_paginate @articles %>
</div>
