<% query = params[:q] %>

<div class="ui container">
  <%= render 'articles/index/header' %>

  <% if query.blank? %>
    <h1>Most recent</h1>
  <% else %>
    <% query = query.length > 40 ? query[0..39] + '...' : query %>
    <%= content_tag :h1, "Search results for '#{query}'" %>
  <% end %>

  <div class="ui stackable items">
    <% @articles.each do |article| %>
      <%= render 'articles/index/article', article: article %>
    <% end %>
  </div>

  <div class="pagination">
    <%= will_paginate @articles %>
  </div>
</div>
