<% if local_assigns.key? :users %>
  <% users = local_assigns[:users] %>
<% else %>
  <% users = User.select(:id, :handle, :admin).all %>
<% end %>

<%#================================================================%>

<div class="ui fluid search selection dropdown">
  <input name="author" type="hidden">

  <i class="dropdown icon"></i>
  <%= content_tag :div, "Users", class: "default text" %>

  <div class="menu">

    <% users.each do |user| %>
      <div class="item" data-value="<%= user.id %>">
        <%= user.handle %>

        <% if user.admin? %>
          <i class="red shield alternate icon"></i>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
