<% if local_assigns.key? :users %>
  <% users = local_assigns[:users] %>
<% else %>
  <% users = User.pluck(:id, :handle) %>
<% end %>

<%#================================================================%>

<div class="ui fluid search selection dropdown">
  <input name="author" type="hidden">

  <i class="dropdown icon"></i>
  <%= content_tag :div, "Users", class: "default text" %>

  <div class="menu">

    <% users.each do |id, name| %>
      <div class="item" data-value="<%= id %>">
        <%= name %>
      </div>
    <% end %>

  </div>
</div>
