<% users = local_assigns.fetch :users, User.select(:id, :handle, :admin).all %>
<% selected = local_assigns.fetch :selected, nil %>
<% multiple = local_assigns.fetch :multiple, false %>
<% selected = local_assigns.fetch :selected, nil %>

<%#================================================================%>

<%= render('shared/dropdown',
           multiple: multiple,
           options: users,
           name: 'users',
           default_text: 'Users',
           selected: selected) do |user| %>

  <div class="item" data-value="<%= user.id %>">
    <%= user.handle %>

    <% if user.admin? %>
      <i class="red shield alternate icon"></i>
    <% end %>
  </div>
  
<% end %>
