<h1>Sudo !!</h1>

<p>
  Read: "sudo bang bang"
</p>

<p>
  "Sudo !!" is a phrase stemming from the UNIX command 
  <a href="https://en.wikipedia.org/wiki/Sudo">sudo</a>.
  When a user tries to do something and the computer blocks the user from doing it,
  saying the current user lacks permissions to do the action, the user can override the
  computer by telling it "sudo !!", which effectively means "Are you saying I can't 
  do that? Oh yes I can."
</p>

<p>
  Sudo !! is a site where content is posted. That's pretty much it. It's all made to be
  either useful or thought provoking, and at times ironic or sarcastic
  to mock the current state of journalism and the public at large.
</p>

<h3>Expert articles</h3>

<p>
  This site hosts works of experts of many types. For example:
  <ul>
    <li>Mathematicians</li>
    <li>Computer Scientists</li>
    <li>Cybersecurity analysts</li>
    <li>Professional Software Engineers</li>
    <li>Professional Financial analysts</li>
    <li>Professional Economists</li>
  </ul>
  They're very good at what they do, and sit at the heart of critical
  infrastructure wherever they work. Most of their writing is made
  to help those in their field by answering questions directly, or sometimes
  to answer questions that non-experts may have.

  Many experts in the above category will voice their opinions on issues that are
  relevant in their field.
</p>

<h3>Other works</h3>

<p>
  We host a variety of other works as well, some of which is from the people in the expert
  category above:
  <ul>
    <li>Amateur writers</li>
    <li>Government skeptics</li>
    <li>People with PhDs in memes</li>
    <li>Amateur political philosophers</li>
  </ul>
  We host conspiracy theories, thoughts on the current state of the world and culture, and
  critiques on Western Civilization. We also host shitposting, which has become a staple of
  the internet.
</p>

You may also want to look at the
<%= link_to "FAQs", faqs_path %>.
