<h1>Sudo !!</h1>

<p>
  Read: "sudo bang bang"
</p>

<p>
  "sudo !!" is a phrase stemming from the UNIX command 
  <a href="https://en.wikipedia.org/wiki/Sudo">sudo</a>.
  When a user tries to do something and the computer blocks the user from doing it,
  saying the current user lacks permissions to do the action, the user can override the
  computer by telling it "sudo !!", which effectively is the user saying "oh yes I can."
</p>

<p>
  Sudo !! is a site where content is posted. That's pretty much it. It's all made to be
  either useful or thought provoking, and at times ironic or sarcastic.
</p>

<h3>Expert articles</h3>

<p>
  This site hosts works of experts of many types. For example:
  <ul>
    <li>Mathematicians</li>
    <li>Computer Scientists</li>
    <li>Cybersecurity analysts</li>
    <li>Software Engineers</li>
    <li>Financial analysts</li>
    <li>Economists</li>
    <li>C-level execs</li>
    <li>Military veterans</li>
  </ul>
  If they are any of the above, you'll see they have a:
  <h3 class="green">verified <i class="check icon"></i></h3>
  On their profile page. These people are very good at what they do,
  and sit at the heart of critical infrastructure wherever they work.
  All of them are very intelligent; idiots don't get screen time here.
  Most of their writing is made to help those in their field by
  answering questions directly, or sometimes to answer questions
  that non-experts may have.
</p>

<h3>Other works</h3>

<p>
  We host a variety of other works as well, some of which is from the people in the expert
  category above:
  <ul>
    <li>Amateur writers</li>
    <li>Government skeptics</li>
    <li>People with PhDs in memes</li>
    <li>Amateur political philosophers</li>
  </ul>
  We host conspiracy theories, thoughts on the current state of the world and culture, and
  critiques on Western Civilization. We also host shitposting, which has become a staple of
  the internet.
</p>

You may also want to look at the
<%= link_to "FAQs", faqs_path %>.
