<p>
  Last edited 2019-05-29
</p>

<hr>

<h1>TL;DR</h1>
Send mail here: <a href="mailto:">business-address@domain.com</a>. Read below for some possible FAQ to guide you.

<h2>Like what you see? Want to contact an author?</h2>
We have people of many different backgrounds writing content:
computer scientists, mathematicians, cybersecurity analysts, finance experts, and many more.

If you want to get in contact with an author, use the contact link above. We will do our best to get you in contact.
However, by the very nature of the site, authors can refuse to identify themselves (anonymous articles that you may have seen).
This is not just a "hide the user" thing that isn't true behind the scenes; <strong>we literally keep the author column in the database null</strong>.
We can ask who wrote the article that snagged your attention by asking around (which we will gladly do), but they can refuse to identify themselves if they choose to do so.

<h2>Want to report a bug?</h2>
Use the above contact and describe in as much detail as you can what happened and the minimal steps to reproduce the bug. We will put it in our issue tracking software and begin fixing it ASAP.

<h2>Have something else to say?</h2>
Send an email our way with the above.
