<h1>Primary point of contact</h1>
<a href="mailto:">business-address@domain.com</a>

<h1>Like what you see? Want to contact an author?</h1>
We have people of many different backgrounds writing content:
computer scientists, mathematicians, cybersecurity analysts, finance experts, and many more.

If you want to get in contact with an author, use the contact link above. However, by the very nature
of the site, authors can refuse to identify themselves (anonymous articles that you may have seen).
We can ask who wrote what, but we can never know for sure to protect identities.
If they choose to step forward to answer your request though, we can provide you with a point of contact.
