Last updated 2019-06-12

<hr>

<h3>Who writes all this?</h3>

<p>
  People that are verified experts in some field. We (meaning "sudo !!") don't impose that they
  restict themselves to that single thing, however.
</p>

<h3>Who writes as anonymous?</h3>

<p>
  Anonymous posting is an option for logged in user if they wish to protect their identity.
  If a poster elects to do this then we null out every field that could identify them.
  We don't create the mirage of pseudo-privacy in our backend.
</p>

<h3>Who runs it?</h3>

<p>
  Myself, a computer scientist and web developer since around 2016. I have a B.S. in Computer Science
  and a minor in Mathematics. I've done professional web development before but now I'm a
  cybersecurity analyst.
</p>

<h3>Like what you see? Want to contact an author?</h3>

<p>
  We have people of many fields writing content. If you want to get in contact
  with an author,  We will do our best to get you in contact. <i>However</i>,
  by the very nature of the site, authors
  can refuse to identify themselves (anonymous articles that you may have seen;
  refer to above FAQ about anonymous authors). This is not just a "hide the user"
  thing that isn't true behind the scenes (see also another FAQ above about this).
  If you contact us, we can ask around who wrote the article that snagged your attention
  and you can communicate with the author through a separate medium, if they choose to identify
  themselves internally. Our contact link can be found here <%= link_to "here", contact_path %>.
</p>

<h3>How do you not know who's posting what even if their username is displayed?</h3>

<p>
  This is because we don't store emails. The username (or in old-school hacker terms, and what
  we refer to it as, the handle) is the <i>only</i> identifier that the site is made aware of,
  and that alone isn't enough to pinpoint who said what. 
</p>

<h3>Can I get in contact?</h3>

<p>
  Refer to <%= link_to "this page", contact_path %>.
</p>

<h3>Can I write articles?</h3>

<p>
  The application process for writing articles will be closed until further notice.
  Verifying an individual's expertise is expensive and time consuming, and it's even more
  troublesome doing it over the wire, so there will be spurts of time where applying will open
  up again.
</p>
