Last updated 2019-07-15

<hr>

<h3 id="who-writes-all-this">Who writes all this?</h3>

<p>
  People that are verified experts in some field. There are no restriction though,
  people can write whatever they please.
</p>

<h3 id="whos-anonymous">Who writes as anonymous?</h3>

<p>
  Anonymous posting is an option for logged in user if they wish to protect their identity.
  If a poster elects to do this then we null out every field that could identify them.
  We don't create the mirage of pseudo-privacy in our backend.
</p>

<h3 id="losing-ownership">If I choose to write an article as anonymous, why do I lose ownership/ability to edit it?</h3>

<p>
  The reason this happens is because this database is specifically designed for privacy.
  Every website that even remotely resembles this one will have user data and content data separated into tables.
  Take for example the Users and Posts tables:
</p>

<div class="ui two column grid">
  <div class="column">
    <table class="ui very basic table">
      <thead>
        <tr>
          <th colspan="2">Users</th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Jesse Pinkman</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Walter White</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="ui very basic table">
      <thead>
        <tr>
          <th colspan="4">Posts</th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>P=NP</td>
          <td>2</td>
          <th>N=1. QED</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Plato's republic</td>
          <td></td>
          <th>...</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p>
  Notice that in the Posts table, under the "Author" column, the name of the user isn't stored, but
  their ID is instead. That's how every single application in the world identifies a user. So when Jesse
  goes back to revise his proof of why P=NP, the site can recognize it's him and allow him to edit it,
  and not Walter White.
</p>

<p>
  The thing is, when websites allow you to do this most of the time, they will just hide who originally wrote it
  from everyone else and keep the truth hidden in the database. The problem with this is the owner can still see it.
  To give a solid guarantee of privacy is to not store that column at all; otherwise the owner of the
  site could look up who wrote what.
</p>

<p>
  This also includes big brother or legal entities. The person running the show can have the best intentions for the users,
  but if big brother comes knocking on the door the owner has to answer the call and give up the database. If that ID is there,
  it's basically over at that step; they get what they want. If you don't store it though, then you can protect your users far
  more. Any legal entity that's given power to request the database of this site will gain no further information about who said what.
</p>

<p>
  Of course, it comes with a cost too. If you write something down anonymously, the site can't identify
  who was the original author and therefore cannot let anyone edit it. You also can't delete it, because
  there's no way to tell if you owned it already.
</p>

<h3>Who runs it?</h3>

<p>
  Myself, a computer scientist and web developer since around 2016. I have a B.S. in Computer Science
  and a minor in Mathematics. I've done professional web development before but now I'm a
  cybersecurity analyst.
</p>

<h3>Like what you see? Want to contact an author?</h3>

<p>
  We have people of many fields writing content. If you want to get in contact
  with an author,  We will do our best to get you in contact. <i>However</i>,
  by the very nature of the site, authors
  can refuse to identify themselves (anonymous articles that you may have seen;
  refer to above FAQ about anonymous authors). This is not just a "hide the user"
  thing that isn't true behind the scenes (see also another FAQ above about this).
  If you contact us, we can ask around who wrote the article that snagged your attention
  and you can communicate with the author through a separate medium, if they choose to identify
  themselves internally. Our contact link can be found <%= link_to "here", contact_path %>.
</p>

<h3>How do you not know who's posting what even if their username is displayed?</h3>

<p>
  Once a user is in the site they can invite other people. Once that starts happening, we stop
  knowing who's who because sudo !! doesn't store emails. The username (or in old-school hacker
  terms, and what we refer to it as, the handle) is the only identifier that the site is made
  aware of on purpose, and that alone isn't enough to pinpoint who's saying what.
</p>

<h3>Can I get in contact?</h3>

<p>
  Refer to <%= link_to "this page", contact_path %>.
</p>

<h3>Can I write articles?</h3>

<p>
  The application process for writing articles will be closed until further notice.
  There are already many different users that will be coming into the fray soon and
  the scaffolding needs to be put in place for them first.
</p>

<p>
  Verifying an individual's expertise is expensive and time consuming, and it's even more
  troublesome doing it over the wire, so there will be spurts of time where applying will open
  up again.
</p>
