<% rando = lambda {|klass| klass.limit(1).order(Arel.sql('RANDOM()')).first} %>

<% tag = rando.call Tag %>
<% user = rando.call User %>
<% article = rando.call Article %>

<% if tag %>
  <h1>Random topic</h1>
  <%= render 'tags/tag', tag: tag %>
<% end %>

<% if user %>
  <h1>Random user</h1>
  <div class="ui items">
    <%= render 'users/index/user', user: user %>
  </div>
<% end %>

<% if article %>
  <h1>Random article</h1>
  <div class="ui items">
    <%= render 'articles/index/article', article: article %>
  </div>
<% end %>
