<h1 class="fancy">Jump to:</h1>

<div class="ui link list">
  <a class="active item"><h2>Mathematics</h2></a>
  <a class="item">Discrete Mathematics</a>
  <a class="item">Group theory</a>
  <a class="item">Linear algebra</a>
</div>

<div class="ui link list">
  <h1>Computer science</h1>
  <a class="item">Algorithms</a>
  <a class="item">Theoretical computer science</a>
  <a class="item">Cybersecurity</a>
</div>

<div class="ui link list">
  <h1>Conspiracy</h1>
  <a class="item">Flat Earth</a>
  <a class="item">9/11</a>
  <a class="item">Aliens</a>
</div>
