<p>
  Last updated 2019-05-29
</p>

<hr>

<h1>What's collected?</h1>
The only thing we collect is a few <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookies</a> that your browser hands back to us, and anything else you explicitly give us.
We don't use that information for anything else except for site functionality. If you don't want us to do this, you can always block cookies, but some functionality is restricted/broken
because it becomes impossible to identify who you are.
