Last updated: February 17th, 2019

<hr>

<h1>What's collected?</h1>
The only thing we collect is a <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookie</a> that your browser hands back to us, and anything else you explicitly give us.
We don't use that information for anything else except for site functionality. We don't sell data, and we lock down the data you give us to keep it safe from hackers.
If you don't want us to do this, you can always block cookies, but functionality is restricted because it becomes impossible to identify who you are (that may be a benefit for you).
