<%= render('shared/dropdown',
           multiple: false,
           options: SemanticUiIcon.all,
           name: local_assigns.fetch(:name, 'semantic_ui_icons'),
           default_text: 'Semantic UI Icons',
           selected: selected) do |icon| %>

  <div class="item" data-value="<%= icon.id %>">
    <i class="<%= icon.icon %> icon"></i>
    <%= icon.icon %>
  </div>

<% end %>
