/*
 *= require_tree .
 *= require_self
 *= require jquery.minicolors
 */

@font-face {
    font-family: "SlimJoe";
    src: font-url("SlimJoe.otf") format("opentype");
}

@font-face {
    font-family: "AnonymousPro-Regular";
    src: font-url("AnonymousPro-Regular.ttf") format("truetype");
}

$font-family: "AnonymousPro-Regular" !default;
$import-google-fonts: false;

@import "semantic-ui";

h1, h2, h3 {
    font-family: "SlimJoe";
}

#footer {
    margin-top: 8em;
    padding-bottom: 18em;
}
