<div class="ui inverted vertical footer segment flex-wrapper" style="margin-top: 8em">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <%= link_to "Contact", contact_path, class: "item" %>
            <%= link_to "Privacy", privacy_path, class: "item" %>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Technical Docs</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Mathematics</a>
            <a href="#" class="item">Computer Science</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Image</h4>
          <p>Copyright</p>
        </div>
      </div>
    </div>
</div>
